<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<p>
  <strong>Encrypted password:</strong>
  <%= @account.encrypted_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @account.salt %>
</p>

<p>
  <strong>Last sync at:</strong>
  <%= @account.last_sync_at %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
